# Set the default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files to be normalized to LF on checkout.
*.c text eol=lf
*.sh text eol=lf
*.h text eol=lf

# Declare files that should always have CRLF line endings on checkout.
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
